node_modules
dist
out
*.tgz

coverage
*.lcov

logs
*.log
report.*.json

.env
.env.*.local

.eslintcache
.cache
*.tsbuildinfo

.idea
.vscode
.DS_Store
Thumbs.db

debug/
test-results/
test_*.ts
intercept_*.ts
